@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Top 10 newest movies</h1>

@if (User.Identity.IsAuthenticated)
{
    <h1>User is authenticated</h1>
}
@foreach (var movie in Model.NewestMovies)
{
    <div class="movie-card" onclick="location.href='/Movies/Details/@movie.Id'">
        <div class="poster">
            <img src="@movie.Poster" alt="@movie.Title" />
        </div>
        <div class="details">
            <h2 class="title">@movie.Title</h2>
            <div class="meta">
                <span class="duration">@movie.Duration мин</span>
            </div>
            <div class="director">
                Режиссер: @movie.Director
            </div>
            <div class="actors">
                В ролях:
                @foreach (var actor in movie.Actors)
                {
                    <span>@actor</span>
                    @(actor != movie.Actors.Last() ? ", " : "")
                }
            </div>
            <div class="description" id="description-@movie.Id">
                @movie.Description
            </div>
            <div class="rating" id="rating-@movie.Id" data-rating="@movie.Rating">
                @for (int i = 1; i <= 10; i++)
                {
                    <span data-value="@i">&#9733;</span>
                }
            </div>
        </div>
    </div>
}
<h1>Top 10 high rated movies</h1>
@foreach (var movie in Model.HighRatedMovies)
{
    <div class="movie-card" onclick="location.href='/Movies/Details/@movie.Id'">
        <div class="poster">
            <img src="@movie.Poster" alt="@movie.Title" />
        </div>
        <div class="details">
            <h2 class="title">@movie.Title</h2>
            <div class="meta">
                <span class="duration">@movie.Duration мин</span>
            </div>
            <div class="director">
                Режиссер: @movie.Director
            </div>
            <div class="actors">
                В ролях:
                @foreach (var actor in movie.Actors)
                {
                    <span>@actor</span>
                    @(actor != movie.Actors.Last() ? ", " : "")
                }
            </div>
            <div class="description" id="description-@movie.Id">
                @movie.Description
            </div>
            <div class="rating" id="rating-@movie.Id" data-rating="@movie.Rating">
                @for (int i = 1; i <= 10; i++)
                {
                    <span data-value="@i">&#9733;</span>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("Shared/_Urls")
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            // Function to update the stars based on the current rating
            function updateStars(ratingElement) {
                var rating = ratingElement.data('rating');
                ratingElement.find('span').each(function () {
                    var starValue = $(this).data('value');
                    if (starValue <= rating) {
                        $(this).css('color', '#f5b301');
                    } else {
                        $(this).css('color', '');
                    }
                });
            }
            // Handle star hover event
            $('.rating span').hover(
                function () {
                    var hoverValue = $(this).data('value');
                    $(this).prevAll().addBack().css('color', '#f5b301');
                },
                function () {
                    updateStars($(this).closest('.rating'));
                }
            );

            // Update stars for all movie ratings
            $('.rating').each(function () {
                updateStars($(this));
            });

            // Get CSRF token
            var token = $('input[name="__RequestVerificationToken"]').val();

            // Handle star click event
            $('.rating span').on('click', function () {
                var movieId = $(this).closest('.rating').attr('id').split('-')[1];
                var ratingValue = $(this).data('value');

                var formData = {
                    MovieId: movieId,
                    StarCount: ratingValue
                };

                $.ajax({
                    url: '@Url.Page("/Movies/Details", new { id = "", handler = "Rate" })',
                    type: 'POST',
                    headers: {
                        "RequestVerificationToken": token
                    },
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(formData),
                    success: function (response) {
                        if (response.success) {
                            alert('Rating submitted successfully!');
                            location.reload(); // Reload the page to update the rating
                        } else if (response.redirect) {
                            window.location.href = response.redirect;
                        } else {
                            alert('Failed to submit rating.');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Error submitting rating: ' + error);
                    }
                });
            });

           
        });
    </script>
}
