@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Top 10 newest movies</h1>
@foreach (var movie in Model.NewestMovies)
{
    <div class="movie-card" onclick="location.href='/Movies/Details/@movie.Id'">
        <div class="poster">
            <img src="@movie.Poster" alt="@movie.Title" />
        </div>
        <div class="details">
            <h2 class="title">@movie.Title</h2>
            <div class="meta">
                <span class="duration">@movie.Duration мин</span>
            </div>
            <div class="director">
                Режиссер: @movie.Director
            </div>
            <div class="actors">
                В ролях:
                @foreach (var actor in movie.Actors)
                {
                    <span>@actor</span>
                    @(actor != movie.Actors.Last() ? ", " : "")
                }
            </div>
            <div class="description" id="description-@movie.Id">
                @movie.Description
            </div>
            <div class="rating" id="rating-@movie.Id" data-rating="@movie.Rating">
                @for (int i = 1; i <= 10; i++)
                {
                    <span data-value="@i">&#9733;</span>
                }
            </div>
        </div>
    </div>
}
<h1>Top 10 high rated movies</h1>
@foreach (var movie in Model.HighRatedMovies)
{
    <div class="movie-card" onclick="location.href='/Movies/Details/@movie.Id'">
        <div class="poster">
            <img src="@movie.Poster" alt="@movie.Title" />
        </div>
        <div class="details">
            <h2 class="title">@movie.Title</h2>
            <div class="meta">
                <span class="duration">@movie.Duration мин</span>
            </div>
            <div class="director">
                Режиссер: @movie.Director
            </div>
            <div class="actors">
                В ролях:
                @foreach (var actor in movie.Actors)
                {
                    <span>@actor</span>
                    @(actor != movie.Actors.Last() ? ", " : "")
                }
            </div>
            <div class="description" id="description-@movie.Id">
                @movie.Description
            </div>
            <div class="rating" id="rating-@movie.Id" data-rating="@movie.Rating">
                @for (int i = 1; i <= 10; i++)
                {
                    <span data-value="@i">&#9733;</span>
                }
            </div>
        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("Shared/_Urls")
    <script src="~/js/index.js" asp-append-version="true"></script>
}
