@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Pages.Genres.IndexModel> Localizer

@model KinopoiskWeb.Pages.Genres.IndexModel
@{
    ViewData["Title"] = Localizer["Genres"];
}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
</head>

<body>
    <h1>@Localizer["Genres"]</h1>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createGenreModal">
            @Localizer["Create New Genre"]
        </button>
    </p>

    <table id="GenreTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th align="center"></th>
            </tr>
        </thead>
    </table>

    <!-- Create Genre Modal -->
    <div class="modal fade" id="createGenreModal" tabindex="-1" aria-labelledby="createGenreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGenreModalLabel">@Localizer["Create New Genre"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="HandleUpdateOrCreate">
                        <div class="form-group">
                            <label for="EnglishName" class="control-label">@Localizer["Name"] (English)</label>
                            <input type="text" name="Genre.Translations[0].Value" class="form-control" />
                            <input type="hidden" name="Genre.Translations[0].LanguageCode" value="0" />
                            <span asp-validation-for="Genre.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="RussianName" class="control-label">@Localizer["Name"] (Russian)</label>
                            <input type="text" name="Genre.Translations[1].Value" class="form-control" />
                            <input type="hidden" name="Genre.Translations[1].LanguageCode" value="1" />
                            <span asp-validation-for="Genre.Name" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Edit Genre Modal -->
    <div class="modal fade" id="editGenreModal" tabindex="-1" aria-labelledby="editGenreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editGenreModalLabel">@Localizer["Edit Genre"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editGenreForm" method="post" asp-page-handler="HandleUpdateOrCreate">
                        <input type="hidden" name="Genre.Id" id="editGenreId" />
                        <input type="hidden" name="Genre.Translations[0].Id" id="enId" />
                        <input type="hidden" name="Genre.Translations[1].Id" id="ruId" />
                        <div class="mb-3">
                            <label for="editGenreEnglishName" class="control-label">@Localizer["Name (English)"]</label>
                            <input type="text" name="Genre.Translations[0].Value" class="form-control" id="editGenreEnglishName" />
                            <input type="hidden" name="Genre.Translations[0].LanguageCode" value="0" />
                            <span asp-validation-for="Genre.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="editGenreRussianName" class="control-label">@Localizer["Name (Russian)"]</label>
                            <input type="text" name="Genre.Translations[1].Value" class="form-control" id="editGenreRussianName" />
                            <input type="hidden" name="Genre.Translations[1].LanguageCode" value="1" />
                            <span asp-validation-for="Genre.Name" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                            <button type="submit" class="btn btn-primary">@Localizer["Save changes"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Genre Modal -->
    <div class="modal fade" id="deleteGenreModal" tabindex="-1" aria-labelledby="deleteGenreModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteGenreModalLabel">@Localizer["Delete Genre"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" asp-for="GenreId" id="GenreToDelete_Id" />
                        <p>@Localizer["Are you sure you want to delete the genre"] "<span id="genreNameToDelete"></span>"?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                            <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("Shared/_Urls")
        <script src="~/js/genre.js" asp-append-version="true"></script>
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
        </script>
    }
</body>
