@page
@using DAL.Enums
@using Microsoft.Extensions.Localization
@using System.ComponentModel
@inject IStringLocalizer<Pages.Movies.CreateModel> Localizer
@model CreateModel
@{
    ViewData["Title"] = "CreateMovie.Title";
    var languages = Enum.GetValues(typeof(LanguageCode)).Cast<LanguageCode>();
}
<head>
</head>
<body>
    <h1>@Localizer["CreateMovie.Heading"]</h1>

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Movie.Poster" class="control-label">@Localizer["CreateMovie.PosterLabel"]</label>
            <input asp-for="Movie.Poster" type="file" class="form-control" />
            <span asp-validation-for="Movie.Poster" class="text-danger"></span>
        </div>
        @{
            int index = 0;
            foreach (var lang in languages)
            {
                var langCode = (int)lang;
                var langDesc = lang.ToString(); 
                <div class="form-group">
                    <label class="control-label">@Localizer["CreateMovie.TitleLabel"] (@langDesc)</label>
                    <input type="text" name="Movie.Translations[@index].Value" class="form-control" placeholder="@Localizer[$"EnterTitleIn{langDesc}"]" required />
                    <input type="hidden" name="Movie.Translations[@index].LanguageCode" value="@langCode" />
                    <input type="hidden" name="Movie.Translations[@index].FieldType" value="2" />
                </div>
                index ++;
                <div class="form-group">
                    <label class="control-label">@Localizer["CreateMovie.DescriptionLabel"] (@langDesc)</label>
                    <textarea name="Movie.Translations[@index].Value" class="form-control" placeholder="@Localizer[$"EnterDescriptionIn{langDesc}"]" required></textarea>
                    <input type="hidden" name="Movie.Translations[@index].LanguageCode" value="@langCode" />
                    <input type="hidden" name="Movie.Translations[@index].FieldType" value="1" />
                </div>
                index++;
            }
        }

        <div class="form-group">
            <label asp-for="Movie.ReleasedDate" class="control-label">@Localizer["CreateMovie.ReleasedDateLabel"]</label>
            <input asp-for="Movie.ReleasedDate" class="form-control" type="date" />
            <span asp-validation-for="Movie.ReleasedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Movie.CountryId" class="control-label">@Localizer["CreateMovie.CountryLabel"]</label>
            <select asp-for="Movie.CountryId" class="form-control" id="countrySelect"></select>
            <span asp-validation-for="Movie.CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Movie.GenreIds" class="control-label">@Localizer["CreateMovie.GenresLabel"]</label>
            <select asp-for="Movie.GenreIds" class="form-control" id="genreSelect" multiple="multiple"></select>
            <span asp-validation-for="Movie.GenreIds" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Movie.Duration" class="control-label">@Localizer["CreateMovie.DurationLabel"]</label>
            <input asp-for="Movie.Duration" class="form-control" />
            <span asp-validation-for="Movie.Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Movie.IMDBRating" class="control-label">@Localizer["CreateMovie.IMDBRatingLabel"]</label>
            <input asp-for="Movie.IMDBRating" class="form-control" />
            <span asp-validation-for="Movie.IMDBRating" class="text-danger"></span>
        </div>

        <div class="form-group" width="100%">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addActorModal" width="100%">
                @Localizer["CreateMovie.AddActorButton"]
            </button>
        </div>
        <div id="actorsList" class="d-flex flex-wrap gap-3">
        </div>
        <div class="form-group">
            <label asp-for="Movie.DirectorId" class="control-label">@Localizer["CreateMovie.DirectorLabel"]</label>
            <select asp-for="Movie.DirectorId" class="form-control" id="directorSelect"></select>
            <span asp-validation-for="Movie.DirectorId" class="text-danger"></span>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">@Localizer["CreateMovie.CreateButton"]</button>

    </form>

    <div class="modal fade" id="addActorModal" tabindex="-1" aria-labelledby="addActorModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addActorModalLabel">@Localizer["CreateMovie.AddActorModalTitle"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="actorSelect" class="control-label" style="width: 100%;">@Localizer["CreateMovie.ActorLabel"]</label>
                        <select id="actorSelect" class="form-control" style="width: 100%;"></select>
                        <span id="actorSelectError" class="text-danger" style="width: 100%;"></span>
                    </div>
                    <div class="form-group">
                        <label for="actorOrder" class="control-label">@Localizer["CreateMovie.ActorOrderLabel"]</label>
                        <input type="number" id="actorOrder" class="form-control" style="width: 100%;" />
                        <span id="actorOrderError" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["CreateMovie.CloseButton"]</button>
                    <button type="button" id="saveActorButton" class="btn btn-primary">@Localizer["CreateMovie.SaveButton"]</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("Shared/_Urls")
        <script src="~/js/Movie/CreateMovie.js" asp-append-version="true"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
        </script>
    }
</body>
