@page "{id:guid}"
@model KinopoiskWeb.Pages.Movies.DetailsModel
@{
}
<h1>@Model.Movie.Title</h1>

<img src="@Model.Movie.Poster" alt="Poster" />
<p>@Model.Movie.Description</p>
<p>Released Date: @Model.Movie.ReleasedDate.ToShortDateString()</p>
<p>Country: @Model.Movie.Country</p>
<p>Director: @Model.Movie.Director</p>
<p>Duration: @Model.Movie.Duration minutes</p>
<p>IMDB Rating: @Model.Movie.IMDBRating</p>
<p>Rating: @Model.Movie.Rating</p>
<p>Genres: @string.Join(", ", @Model.Movie.Genres)</p>
<p>Comments: @string.Join(", ", @Model.Movie.Comments)</p>
<p>Actors: @string.Join(", ", @Model.Movie.Actors)</p>
