@page "{id:guid}"
@model KinopoiskWeb.Pages.Movies.DetailsModel
@{
    ViewData["Title"] = Model.Movie.Title;
}

<div class="containerMovieDetails">
    <div class="row">
        <div class="col-md-4">
            <div class="poster">
                <img src="@Model.Movie.Poster" alt="Poster" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-8 movie-details">
            <h1>@Model.Movie.Title</h1>
            <p><strong>Release Date:</strong> @Model.Movie.ReleasedDate.ToString("dd/MM/yyyy")</p>
            <p><strong>Country:</strong> @Model.Movie.Country</p>
            <p><strong>Director:</strong> @Model.Movie.Director</p>
            <p><strong>Duration:</strong> @Model.Movie.Duration minutes</p>
            <p><strong>IMDB Rating:</strong> @Model.Movie.IMDBRating</p>
            <p><strong>Genres:</strong> @string.Join(", ", @Model.Movie.Genres)</p>
            <h2>Actors</h2>
            <ul class="actors-list">
                @foreach (var actor in Model.Movie.Actors)
                {
                    <li>@actor</li>
                }
            </ul>
            <div class="row">
                <div class="col-12">
                    <p><strong>Rating:</strong></p>
                    <div class="rating" id="rating-@Model.Movie.Id" data-movie-id="@Model.Movie.Id" data-rating="@Model.Movie.Rating">
                        @for (int i = 1; i <= 10; i++)
                        {
                            <span data-value="@i" class="rating-star">&#9733;</span>
                        }
                    </div>
                    @Html.AntiForgeryToken()
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="description-section">
                <h2>Description</h2>
                <p>@Model.Movie.Description</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="comments-section">
                <h2>Comments</h2>
                <ul>
                    @foreach (var comment in Model.Movie.Comments)
                    {
                        <li>@comment</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/Movie/detailsMovie.js" asp-append-version="true"></script>
}
