@page
@using Microsoft.Extensions.Localization
@model KinopoiskWeb.Pages.Movies.ImportModel
@inject IStringLocalizer<Pages.Movies.ImportModel> Localizer
@{
    ViewData["Title"] = Localizer["ImportMovie.Title"];
}
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<h1>@Localizer["ImportMovie.Heading"]</h1>

<div>
    <h2>@Localizer["ImportMovie.SearchMovies"]</h2>
    <form id="search-form-title" class="form-inline mb-3">
        <fieldset>
            <legend>@Localizer["ImportMovie.ByTitle"]</legend>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="title" class="sr-only">@Localizer["ImportMovie.TitleLabel"]</label>
                    <input type="text" id="title" class="form-control mb-2" placeholder="@Localizer["ImportMovie.TitlePlaceholder"]" />
                </div>
                <div class="col-auto">
                    <label for="year" class="sr-only">@Localizer["ImportMovie.YearLabel"]</label>
                    <select id="year" class="form-control mb-2">
                        <option value="">@Localizer["ImportMovie.Year"]</option>
                        @for (int year = DateTime.Now.Year; year >= 1900; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="col-auto">
                    <label for="plot" class="sr-only">@Localizer["ImportMovie.PlotLabel"]</label>
                    <select id="plot" class="form-control mb-2">
                        <option value="short">@Localizer["ImportMovie.PlotShort"]</option>
                        <option value="full">@Localizer["ImportMovie.PlotFull"]</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="button" id="search-button-title" class="btn btn-primary mb-2">@Localizer["ImportMovie.SearchButton"]</button>
                </div>
                <div class="col-auto">
                    <button type="button" id="reset-button-title" class="btn btn-secondary mb-2 ml-2">@Localizer["ImportMovie.ResetButton"]</button>
                </div>
            </div>
        </fieldset>
    </form>

    <form id="search-form-id" class="form-inline">
        <fieldset>
            <legend>@Localizer["ImportMovie.ByID"]</legend>
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="imdbId" class="sr-only">@Localizer["ImportMovie.IMDbIDLabel"]</label>
                    <input type="text" id="imdbId" class="form-control mb-2" placeholder="@Localizer["ImportMovie.IMDbIDPlaceholder"]" />
                </div>
                <div class="col-auto">
                    <label for="year-id" class="sr-only">@Localizer["ImportMovie.YearLabel"]</label>
                    <select id="year-id" class="form-control mb-2">
                        <option value="">@Localizer["ImportMovie.Year"]</option>
                        @for (int year = DateTime.Now.Year; year >= 1900; year--)
                        {
                            <option value="@year">@year</option>
                        }
                    </select>
                </div>
                <div class="col-auto">
                    <label for="plot-id" class="sr-only">@Localizer["ImportMovie.PlotLabel"]</label>
                    <select id="plot-id" class="form-control mb-2">
                        <option value="short">@Localizer["ImportMovie.PlotShort"]</option>
                        <option value="full">@Localizer["ImportMovie.PlotFull"]</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="button" id="search-button-id" class="btn btn-primary mb-2">@Localizer["ImportMovie.SearchButton"]</button>
                </div>
                <div class="col-auto">
                    <button type="button" id="reset-button-id" class="btn btn-secondary mb-2 ml-2">@Localizer["ImportMovie.ResetButton"]</button>
                </div>
            </div>
        </fieldset>
    </form>
    @Html.AntiForgeryToken()
</div>

<div id="search-results"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    @await Html.PartialAsync("Shared/_Urls")
    <script src="~/js/Movie/import.js"></script>
}
