@page
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Pages.Countries.IndexModel> Localizer
@model KinopoiskWeb.Pages.Countries.IndexModel
@{
    ViewData["Title"] = Localizer["Countries"];
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<head>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
</head>
<body>
    <h1>@Localizer["Countries"]</h1>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCountryModal">
            @Localizer["CreateNewCountry"]
        </button>
    </p>

    <table class="table table-striped table-bordered" id="CountryTable">
        <thead>
            <tr>
                <th>@Localizer["Id"]</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["CodeOfCountry"]</th>
                <th>@Localizer["Flag"]</th>
                <th></th>
            </tr>
        </thead>
    </table>

    <!-- Create Country Modal -->
    <div class="modal fade" id="createCountryModal" tabindex="-1" aria-labelledby="createCountryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCountryModalLabel">@Localizer["CreateNewCountry"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-page-handler="HandleCreateOrUpdate">
                        <div class="form-group">
                            <label asp-for="Country.Name" class="control-label">@Localizer["Name"]</label>
                            <input asp-for="Country.Name" class="form-control" />
                            <span asp-validation-for="Country.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country.ShortName" class="control-label">@Localizer["CodeOfCountry"]</label>
                            <input asp-for="Country.ShortName" class="form-control" />
                            <span asp-validation-for="Country.ShortName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country.Flag" class="control-label">@Localizer["Flag"]</label>
                            <input type="file" asp-for="Country.Flag" class="form-control" />
                            <span asp-validation-for="Country.Flag" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                            <button type="submit" class="btn btn-primary">@Localizer["Save"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Country Modal -->
    <div class="modal fade" id="editCountryModal" tabindex="-1" aria-labelledby="editCountryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCountryModalLabel">@Localizer["EditCountry"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">
                    <form id="editGForm" method="post" asp-page-handler="HandleCreateOrUpdate" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Country.Id" id="editCountryId" />
                        <div class="mb-3">
                            <label asp-for="Country.Name" class="form-label">@Localizer["Name"]</label>
                            <input asp-for="Country.Name" class="form-control" id="editCountryName" required />
                            <span asp-validation-for="Country.Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Country.ShortName" class="form-label">@Localizer["CodeOfCountry"]</label>
                            <input asp-for="Country.ShortName" class="form-control" id="editCountryShortName" required />
                            <span asp-validation-for="Country.ShortName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country.Flag" class="control-label">@Localizer["Flag"]</label>
                            <input type="file" asp-for="Country.Flag" accept="image/*" class="form-control" />
                            <span asp-validation-for="Country.Flag" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                            <button type="submit" class="btn btn-primary">@Localizer["SaveChanges"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Country Modal -->
    <div class="modal fade" id="deleteCountryModal" tabindex="-1" aria-labelledby="deleteCountryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCountryModalLabel">@Localizer["DeleteCountry"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" asp-for="CountryId" id="CountryToDelete_Id" />
                        <p>@Localizer["AreYouSureToDeleteCountry"] <span id="countryNameToDelete"></span>?</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                            <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("Shared/_Urls")
        <script src="~/js/country.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />
        <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js">var currenCulture = @currentCulture</script>
        <script>var currentCulture = @currentCulture</script>
    }

</body>
